@page "{id:int}"
@model BankAppProject.Pages.Customer.CustomerDetailsModel
@{
}
<a asp-page="/Customer/Index"
   class="btn btn-primary">
    <i class="fa-solid fa-arrow-left"></i>
</a>
<div class="container p-0">
    <div class="card-header d-flex flex-wrap justify-content-between mb-2">
        <h4 class="mb-0">Id: @Model.Customer.CustomerId, @Model.Customer.Name</h4>
@*         <form method="post" asp-page-handler="Delete"
              onsubmit="return confirm('Are you sure you want to Inactivate this customer? All accounts will also be inactivated.')">
            <input type="hidden" name="customerId" value="@Model.Customer.CustomerId" />
            <button type="submit" class="btn btn-outline-danger">
                Inactivate Customer <i class="fa-solid fa-trash-can"></i>
            </button>
        </form> *@
    </div>
    @if (TempData["NewCustomerMessage"] != null)
    {
        <div class="alert alert-success mt-2 text-center">
            @TempData["NewCustomerMessage"]
        </div>
    }
    <div class="row">

@*         <div class="col-12 col-md-6 order-1 order-md-2"> *@
        <!-- Customer Info -->
        <div class="col-12 col-md-6 order-2 order-md-1">
            <div class="d-flex flex-wrap justify-content-between">
                <h5 class="ps-3">Customer Info</h5>
                <a asp-page="/Customer/EditCustomer" asp-route-id="@Model.Customer.CustomerId" class="btn btn-secondary">
                    Edit Customer <i class="fa-solid fa-pen-to-square"></i>
                </a>
            </div>
            <div class="container p-0">
                <div class="row mb-2">
                    <div class="col-4 col-sm-3"><strong>Name:</strong></div>
                    <div class="col">@Model.Customer.Name</div>
                </div>
                <div class="row mb-2">
                    <div class="col-4 col-sm-3"><strong>Address:</strong></div>
                    <div class="col">@Model.Customer.Streetaddress</div>
                </div>
                <div class="row mb-2">
                    <div class="col-4 col-sm-3"></div>
                    <div class="col">@Model.Customer.ZipcodeCity</div>
                </div>
                <div class="row mb-2">
                    <div class="col-4 col-sm-3"></div>
                    <div class="col">@Model.Customer.Country</div>
                </div>
                <div class="row mb-2">
                    <div class="col-4 col-sm-3"><strong>Birthday:</strong></div>
                    <div class="col">@Model.Customer.Birthday?.ToShortDateString()</div>
                </div>
                <div class="row mb-2">
                    <div class="col-4 col-sm-3"><strong>Age:</strong></div>
                    <div class="col">@Model.Customer.Age</div>
                </div>
                <div class="row mb-2">
                    <div class="col-4 col-sm-3"><strong>Nat. ID:</strong></div>
                    <div class="col">@Model.Customer.NationalId</div>
                </div>
                <div class="row mb-2">
                    <div class="col-4 col-sm-3"><strong>Phone:</strong></div>
                    <div class="col">@Model.Customer.Phonenumber</div>
                </div>
                <div class="row mb-2">
                    <div class="col-4 col-sm-3"><strong>E-mail:</strong></div>
                    <div class="col">@Model.Customer.Emailaddress</div>
                </div>
            </div>
        </div>

        <!-- Accounts -->
        <div class="col-12 col-md-6 order-1 order-md-2">
            <div class="card-header d-flex flex-wrap justify-content-between p-1">
                <h5 class="ms-2 mb-0">Accounts</h5>
                <a asp-page="/Account/NewAccount" asp-route-id="@Model.Customer.CustomerId" class="btn btn-success mb-0">
                    Add new account <i class="fa-solid fa-plus"></i>
                </a>
            </div>

            <div class="table-responsive">
                <table class="table table-sm table-striped mb-0">
                    <thead>
                        <tr>
                            <th>Acc #</th>
                            <th>Balance</th>
                            <th>Frequency</th>
                            <th>Created</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var account in Model.Customer.Accounts)
                        {
                            <tr>
                                <td>@account.AccountId</td>
                                <td>@account.Balance.ToString("C1", new System.Globalization.CultureInfo("de-DE"))</td>
                                <td>@account.Frequency</td>
                                <td>@account.Created.ToShortDateString()</td>
                                <td>
                                    <div class="d-flex justify-content-end">
                                        <a asp-page="/Account/AccountDetails"
                                           asp-route-accountId="@account.AccountId"
                                           asp-route-customerId="@Model.Customer.CustomerId"
                                           class="btn btn-secondary">
                                            View
                                        </a>

                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div class="list-group-item mb-5">
                <strong>Total assets:</strong> @Model.Customer.TotalBalance.ToString("C", new System.Globalization.CultureInfo("de-DE"))
            </div>
        </div>
    </div>
</div>
