@page
@model BankAppProject.Pages.Customer.IndexModel
@{
}
<h1>Customers</h1>
<p>Page @Model.PageNumber</p>
@if (TempData["InactivatedCustomerMessage"] != null)
{
    <div class="alert alert-success mt-2 text-center">
        @TempData["InactivatedCustomerMessage"]
    </div>
}

@*Search*@
<div class="flexcontainer d-flex justify-content-between align-items-center">
    <div>
        <form method="get">
            <input type="text" name="q" value="@Model.Q" placeholder="Search by Id, name, city" />
            <input type="hidden" name="sortColumn" value="@Request.Query["sortColumn"]" />
            <input type="hidden" name="sortOrder" value="@Request.Query["sortOrder"]" />
            <input type="hidden" name="pageNumber" value="1" />
            <button type="submit" id="search-btn"><i class="fas fa-search"></i></button>
        </form>
    </div>
    <div class="d-flex justify-content-end">
        <a asp-page="/Customer/NewCustomer" class="btn btn-info" id="customer-view-btn">ADD NEW CUSTOMER</a>
    </div>
</div>


<table class="table table-bordered table-striped">

    <thead>
        <tr>
            <th scope="col">
                ID
                <a asp-page="/Customer/Index"
                   asp-route-sortColumn="Id"
                   asp-route-sortOrder="asc"
                   asp-route-q="@Model.Q"
                   asp-route-pageNumber="1"
                   style="text-decoration:none">
                    <i class="fa-solid fa-angle-up"></i>

                </a>
                <a asp-page="/Customer/Index"
                   asp-route-sortColumn="Id"
                   asp-route-sortOrder="desc"
                   asp-route-q="@Model.Q"
                   asp-route-pageNumber="1"
                   style="text-decoration:none">
                    <i class="fa-solid fa-angle-down"></i>
                </a>
            </th>
            <th scope="col">
                Nat.ID
                <a asp-page="/Customer/Index"
                   asp-route-sortColumn="National Id"
                   asp-route-sortOrder="asc"
                   asp-route-q="@Model.Q"
                   asp-route-pageNumber="1"
                   style="text-decoration:none">
                    <i class="fa-solid fa-angle-up"></i>

                </a>
                <a asp-page="/Customer/Index"
                   asp-route-sortColumn="National Id"
                   asp-route-sortOrder="desc"
                   asp-route-q="@Model.Q"
                   asp-route-pageNumber="1"
                   style="text-decoration:none">
                    <i class="fa-solid fa-angle-down"></i>
                </a>
            </th>
            <th scope="col">
                Name
                <a asp-page="/Customer/Index"
                   asp-route-sortColumn="Name"
                   asp-route-sortOrder="asc"
                   asp-route-q="@Model.Q"
                   asp-route-pageNumber="1"
                   style="text-decoration:none">
                    <i class="fa-solid fa-angle-up"></i>

                </a>
                <a asp-page="/Customer/Index"
                   asp-route-sortColumn="Name"
                   asp-route-sortOrder="desc"
                   asp-route-q="@Model.Q"
                   asp-route-pageNumber="1"
                   style="text-decoration:none">
                    <i class="fa-solid fa-angle-down"></i>
                </a>
            </th>
            <th scope="col">
                Address
                <a asp-page="/Customer/Index"
                   asp-route-sortColumn="Address"
                   asp-route-sortOrder="asc"
                   asp-route-q="@Model.Q"
                   asp-route-pageNumber="1"
                   style="text-decoration:none">
                    <i class="fa-solid fa-angle-up"></i>

                </a>
                <a asp-page="/Customer/Index"
                   asp-route-sortColumn="Address"
                   asp-route-sortOrder="desc"
                   asp-route-q="@Model.Q"
                   asp-route-pageNumber="1"
                   style="text-decoration:none">
                    <i class="fa-solid fa-angle-down"></i>
                </a>
            </th>
            <th scope="col">
                City
                <a asp-page="/Customer/Index"
                   asp-route-sortColumn="City"
                   asp-route-sortOrder="asc"
                   asp-route-q="@Model.Q"
                   asp-route-pageNumber="1"
                   style="text-decoration:none">
                    <i class="fa-solid fa-angle-up"></i>

                </a>
                <a asp-page="/Customer/Index"
                   asp-route-sortColumn="City"
                   asp-route-sortOrder="desc"
                   asp-route-q="@Model.Q"
                   asp-route-pageNumber="1"
                   style="text-decoration:none">
                    <i class="fa-solid fa-angle-down"></i>
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="table-sm">

        @foreach (var customer in Model.Customers)
        {
            <tr>
                <td>@customer.Id</td>
                <td>@customer.NationalId</td>
                <td>@customer.Name</td>
                <td>@customer.Address</td>
                <td>@customer.City</td>
                <td id="customer-tabledata-view-btn"><a asp-page="/Customer/CustomerDetails" asp-route-id="@customer.Id" class="btn btn-info" id="customer-view-btn">View</a></td>
            </tr>
        }
    </tbody>
</table>
<div class="pagination">
    @if (Model.PageNumber > 1)
    {
        <a asp-page="/Customers"
           asp-route-sortColumn="@Request.Query["sortColumn"]"
           asp-route-sortOrder="@Request.Query["sortOrder"]"
           asp-route-q="@Model.Q"
           asp-route-pageNumber="@(Model.PageNumber - 1)"
           class="btn btn-primary"><i class="fa-solid fa-arrow-left"></i>Previous</a>
    }
    <p class="display-pagenumber">Page @Model.PageNumber</p>
    @if ((Model.PageNumber * Model.PageSize) < Model.TotalCustomers)
    {
        <a asp-page="/Customers"
           asp-route-sortColumn="@Request.Query["sortColumn"]"
           asp-route-sortOrder="@Request.Query["sortOrder"]"
           asp-route-q="@Model.Q"
           asp-route-pageNumber="@(Model.PageNumber + 1)"
           class="btn btn-primary">Next<i class="fa-solid fa-arrow-right"></i></a>
    }
</div>

