@model (BankAppProject.ViewModels.TopCustomerViewModel customer, int index)
@{
    var gender = Model.customer.Gender.ToLower();
    var rnd = new Random(Model.customer.CustomerId);
    var imgId = rnd.Next(0, 100);

    var imgUrl = gender switch
    {
        "female" => $"https://randomuser.me/api/portraits/women/{imgId}.jpg",
        "male" => $"https://randomuser.me/api/portraits/men/{imgId}.jpg",
        _ => "/img/neutral.png"
    };
    string rankColor = Model.index switch
    {
        1 => "warning",
        2 => "secondary",
        3 => "bronze",
        _ => "aurorablue"
    };
}

<div class="card border-left-primary shadow mb-3 p-2">
    <div class="d-flex row-custom g-0 align-items-center">

        <div class="top-two d-flex align-items-center">
            <div>
                <h3 class="ml-4"><i class="fa-solid fa-medal text-@rankColor"></i> @Model.index</h3>
            </div>

            <div class="col-auto">
                <img src="@imgUrl"
                     class="img-fluid rounded-circle mx-3"
                     alt="Customer image"
                     style="width: 80px; height: 80px;" />
            </div>
        </div>

        <div class="col">
            <div class="card-body py-2">
                <h5 class="card-title mb-1"> @Model.customer.FullName</h5>
                <p class="card-text mb-1"><i class="fas fa-tree-city me-2"></i> @Model.customer.City</p>
                <p class="card-text">
                    <i class="fas fa-piggy-bank me-2"></i>
                    @Model.customer.TotalBalance.ToString("C0", System.Globalization.CultureInfo.GetCultureInfo("de-DE"))
                </p>
            </div>
        </div>
    </div>
</div>
