@page
@model BankAppProject.Pages.User.IndexModel
@{
}
<h2>Users</h2>

@*Search*@
<div class="d-flex flex-wrap justify-content-between align-items-center">
    <form method="get" class="d-flex" style="max-width: 400px;">
        <div class="input-group">
            <input type="text"
                   class="form-control bg-light border-1 small"
                   name="q"
                   value="@Model.Q"
                   placeholder="Username or E-mail" />

            <input type="hidden" name="sortColumn" value="@Request.Query["sortColumn"]" />
            <input type="hidden" name="sortOrder" value="@Request.Query["sortOrder"]" />
            <input type="hidden" name="pageNumber" value="1" />

            <button type="submit" id="search-btn"><i class="fas fa-search"></i></button>
        </div>
    </form>
    <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-outline-secondary">
        <i class="fa-solid fa-plus"></i><i class="fa-solid fa-user"></i>
    </a>

</div>
<!--SuccessMessages-->
@if (TempData["UserRoleUpdated"] != null)
{
    <div class="alert alert-success mt-2 text-center">
        @TempData["UserRoleUpdated"]
    </div>
}
@if (TempData["InactivatedUser"] != null)
{
    <div class="alert alert-success mt-2 text-center">
        @TempData["InactivatedUser"]
    </div>
}
<!--ErrorMessages-->
@if (TempData["ErrorUpdatingUserRole"] != null)
{
    <div class="alert alert-danger mt-2 text-center">
        @TempData["ErrorUpdatingUserRole"]
    </div>
}
@if (TempData["ErrorInactivatingUser"] != null)
{
    <div class="alert alert-danger mt-2 text-center">
        @TempData["ErrorInactivatingUser"]
    </div>
}
<table class="table table-bordered table-striped mt-2">

    <thead>
        <tr>
            <th scope="col">
                <div class="d-flex flex-column flex-md-row align-items-center">
                    <span class="pr-3 th-content">Username</span>
                    <div>
                        <a asp-page="/User/Index"
                           asp-route-sortColumn="UserName"
                           asp-route-sortOrder="asc"
                           asp-route-q="@Model.Q"
                           asp-route-pageNumber="1"
                           class="th-content"
                           style="text-decoration:none">
                           

                            <i class="fa-solid fa-angle-up"></i>

                        </a>
                        <a asp-page="/User/Index"
                           asp-route-sortColumn="UserName"
                           asp-route-sortOrder="desc"
                           asp-route-q="@Model.Q"
                           asp-route-pageNumber="1"
                           class="th-content"
                           style="text-decoration:none">
                            <i class="fa-solid fa-angle-down"></i>
                        </a>
                    </div>
                </div>
            </th>
            <th scope="col">
                <div class="d-flex flex-column flex-md-row align-items-center">
                    <span class="pr-2 th-content">Phone</span>
                    <div>
                        <a asp-page="/User/Index"
                           asp-route-sortColumn="PhoneNumber"
                           asp-route-sortOrder="asc"
                           asp-route-q="@Model.Q"
                           asp-route-pageNumber="1"
                           class="th-content"
                           style="text-decoration:none">
                            <i class="fa-solid fa-angle-up"></i>
                        </a>
                        <a asp-page="/User/Index"
                           asp-route-sortColumn="PhoneNumber"
                           asp-route-sortOrder="desc"
                           asp-route-q="@Model.Q"
                           asp-route-pageNumber="1"
                           class="th-content"
                           style="text-decoration:none">
                            <i class="fa-solid fa-angle-down"></i>
                        </a>
                    </div>
                </div>
            </th>
            <th scope="col">
                <div class="d-flex flex-column flex-md-row align-items-center">
                    <span class="pr-2 th-content">E-mail</span>
                    <div>
                        <a asp-page="/User/Index"
                           asp-route-sortColumn="Email"
                           asp-route-sortOrder="asc"
                           asp-route-q="@Model.Q"
                           asp-route-pageNumber="1"
                           class="th-content"
                           style="text-decoration:none">
                            <i class="fa-solid fa-angle-up"></i>

                        </a>
                        <a asp-page="/User/Index"
                           asp-route-sortColumn="Email"
                           asp-route-sortOrder="desc"
                           asp-route-q="@Model.Q"
                           asp-route-pageNumber="1"
                           class="th-content"
                           style="text-decoration:none">
                            <i class="fa-solid fa-angle-down"></i>
                        </a>
                    </div>
                </div>
            </th>
            <th scope="col">
                <div class="d-flex flex-column flex-md-row align-items-center">
                    <span class="pr-2 th-content">Role</span>
                </div>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="table-sm">
        @foreach (var user in Model.PagedResult.Results)
        {
            <tr class="table-row-view">
                <!-- USER INFO -->
                <td>@user.UserName</td>
                <td>@user.PhoneNumber</td>
                <td>@user.Email</td>

                <!-- UPDATE ROLE FORM -->
                <td class="d-flex justify-content-center">
                    <form method="post" asp-page-handler="UpdateRole" class="d-flex flex-column gap-2">
                        <input type="hidden" name="userId" value="@user.Id" />
                        <select class="form-select form-select-sm w-auto"
                                name="selectedRole"
                                onchange="this.form.querySelector('button').classList.remove('d-none')">
                            @foreach (var role in Model.Roles)
                            {
                                <option value="@role.Value" selected="@(role.Value == user.Role.ToString())">
                                    @role.Text
                                </option>
                            }
                        </select>
                        <button type="submit" class="small-save-btn btn-outline-success mt-1 d-none">Save</button>
                    </form>
                </td>
                <!-- DELETE FORM -->
                <td class="align-middle text-center">
                    <form method="post" asp-page-handler="Delete"
                          onsubmit="return confirm('Are you sure you want to inactivate this user?')">
                        <input type="hidden" name="userId" value="@user.Id" />
                        <button type="submit" class="btn btn-outline-danger">
                            <i class="fa-solid fa-trash-can"></i>
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>

</table>

<partial name="_ValidationScriptsPartial" />

@await Html.PartialAsync("_PaginationPartial", Model.PagedResult, new ViewDataDictionary(ViewData)
{
    { "PageRoute", "/Customer/Index" },
    { "Q", Model.Q },
    { "SortColumn", Request.Query["sortColumn"] },
    { "SortOrder", Request.Query["sortOrder"] }
})